/*================== Catpuccin for Firefox ==================
Author: natabot
ENJOY!
*/

/*================ GLOBAL COLORS ================*/
:root {
	--caption_close_color: #f28fad;
	--caption_max_color: #abe9b3;
	--caption_min_color: #fae3b0;
	--caption_unselected_color: #1a1823;
	--bg_color: #1e1d2d;
	--flamingo-color: #f2cdcd;
	--lavender-color: #ddb6f2;
	
}

/*================== TITLEBAR ==================*/
.titlebar {
	margin: 1px;
}

/*================== CAPTION BUTTONS ==================*/
.titlebar-buttonbox {
    	position: relative;
    	margin-right: 0px;
	margin-top: -10px !important;
}
.titlebar-button {
	transition: all 0.3s ease !important;
	padding: 8px 10px !important;
	background: none !important;
}
.titlebar-button.titlebar-close {
	padding-right: 26px !important;
}
.titlebar-button > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	list-style-image: none;
	border-radius: 15px;
	width: 12px !important;
	height: 12px !important;
}

/* the 12px image renders a 10px icon, and the 10px upscaled gets rounded to 12.5, which
* rounds up to 13px, which makes the icon one pixel too big on 1.25dppx. Fix: */
@media (min-resolution: 1.20dppx) and (max-resolution: 1.45dppx) {
.titlebar-button > .toolbarbutton-icon {
	width: 12px !important;
	height: 12px !important;
}
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.45dppx) and (max-resolution: 1.70dppx) {
.titlebar-button > .toolbarbutton-icon {
	width: 12px !important;
	height: 12px !important;
}
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.70dppx) and (max-resolution: 1.95dppx) {
.titlebar-button > .toolbarbutton-icon {
	width: 12px !important;
	height: 12px !important;
}
}

.titlebar-button:hover > .toolbarbutton-icon {
	background: none !important;
}

.titlebar-button.titlebar-min > .toolbarbutton-icon,
.titlebar-button.titlebar-max > .toolbarbutton-icon,
.titlebar-button.titlebar-restore > .toolbarbutton-icon,
.titlebar-button.titlebar-close > .toolbarbutton-icon {
	background: var(--caption_unselected_color) !important;
}

.titlebar-button.titlebar-min:hover > .toolbarbutton-icon {
	background: var(--caption_min_color) !important;
}

.titlebar-button.titlebar-max:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-restore:hover > .toolbarbutton-icon {
	background: var(--caption_max_color) !important;
}

.titlebar-button.titlebar-close:hover > .toolbarbutton-icon {
	background: var(--caption_close_color) !important;
}